# Agregar o eliminar datos con Pandas
Muchas ocasiones necesitamos agregar, eliminar o separar datos y pandas nos ofrece varias funciones para que este proceso se vuelva mucho más sencillo.

- Muestra las primeras 5 líneas del DataFrame

In [40]:
import numpy as np
import pandas as pd

In [28]:
df_books = pd.read_csv('https://raw.githubusercontent.com/devferx/platzi-numpy-pandas/main/11_leer_archivos_csv_json_pandas/bestsellers-with-categories.csv')

In [29]:
df_books.head()

,Name,Author,User Rating,Reviews,Price,Year,Genre
0,10-Day Green Smoothie Cleanse,JJ Smith,4.7,17350,8,2016,Non Fiction
1,11/22/63: A Novel,Stephen King,4.6,2052,22,2011,Fiction
2,12 Rules for Life: An Antidote to Chaos,Jordan B. Peterson,4.7,18979,15,2018,Non Fiction
3,1984 (Signet Classics),George Orwell,4.7,21424,6,2017,Fiction
4,"5,000 Awesome Facts (About Everything!) (Natio...",National Geographic Kids,4.8,7665,12,2019,Non Fiction

Eliminar columnas de la salida pero no del DataFrame

In [30]:
df_books.drop('Genre', axis=1).head(2)

,Name,Author,User Rating,Reviews,Price,Year
0,10-Day Green Smoothie Cleanse,JJ Smith,4.7,17350,8,2016
1,11/22/63: A Novel,Stephen King,4.6,2052,22,2011

In [31]:
df_books.head()

,Name,Author,User Rating,Reviews,Price,Year,Genre
0,10-Day Green Smoothie Cleanse,JJ Smith,4.7,17350,8,2016,Non Fiction
1,11/22/63: A Novel,Stephen King,4.6,2052,22,2011,Fiction
2,12 Rules for Life: An Antidote to Chaos,Jordan B. Peterson,4.7,18979,15,2018,Non Fiction
3,1984 (Signet Classics),George Orwell,4.7,21424,6,2017,Fiction
4,"5,000 Awesome Facts (About Everything!) (Natio...",National Geographic Kids,4.8,7665,12,2019,Non Fiction

No se elimino del dataframe, para eliminarlo debemos mandar el parametro `inplace=true`

In [32]:
df_books.drop('Genre', axis=1, inplace=True)
df_books.head()

,Name,Author,User Rating,Reviews,Price,Year
0,10-Day Green Smoothie Cleanse,JJ Smith,4.7,17350,8,2016
1,11/22/63: A Novel,Stephen King,4.6,2052,22,2011
2,12 Rules for Life: An Antidote to Chaos,Jordan B. Peterson,4.7,18979,15,2018
3,1984 (Signet Classics),George Orwell,4.7,21424,6,2017
4,"5,000 Awesome Facts (About Everything!) (Natio...",National Geographic Kids,4.8,7665,12,2019

In [33]:
df_books = df_books.drop('Year', axis=1)

In [34]:
df_books.head(2)

                            Name        Author  User Rating  Reviews  Price
0  10-Day Green Smoothie Cleanse      JJ Smith          4.7    17350      8
1              11/22/63: A Novel  Stephen King          4.6     2052     22

Eliminar una columna

In [35]:
del df_books['Price']

In [36]:
df_books

,Name,Author,User Rating,Reviews
0,10-Day Green Smoothie Cleanse,JJ Smith,4.7,17350
1,11/22/63: A Novel,Stephen King,4.6,2052
2,12 Rules for Life: An Antidote to Chaos,Jordan B. Peterson,4.7,18979
3,1984 (Signet Classics),George Orwell,4.7,21424
4,"5,000 Awesome Facts (About Everything!) (Natio...",National Geographic Kids,4.8,7665
...,...,...,...,...
545,Wrecking Ball (Diary of a Wimpy Kid Book 14),Jeff Kinney,4.9,9413
546,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331
547,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331
548,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331
549,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331

## Eliminar filas

In [37]:
df_books.drop(0, axis=0)
#elimina la fila 0 del dataFrame

,Name,Author,User Rating,Reviews
1,11/22/63: A Novel,Stephen King,4.6,2052
2,12 Rules for Life: An Antidote to Chaos,Jordan B. Peterson,4.7,18979
3,1984 (Signet Classics),George Orwell,4.7,21424
4,"5,000 Awesome Facts (About Everything!) (Natio...",National Geographic Kids,4.8,7665
5,A Dance with Dragons (A Song of Ice and Fire),George R. R. Martin,4.4,12643
...,...,...,...,...
545,Wrecking Ball (Diary of a Wimpy Kid Book 14),Jeff Kinney,4.9,9413
546,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331
547,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331
548,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331
549,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331

Eliminar un conjunto de filas mediante una lista

In [38]:
df_books.drop([0,1,2], axis=0).head(2)

,Name,Author,User Rating,Reviews
3,1984 (Signet Classics),George Orwell,4.7,21424
4,"5,000 Awesome Facts (About Everything!) (Natio...",National Geographic Kids,4.8,7665

Elimina un conjunto de filas mediante un rango

In [39]:
df_books.drop(range(0,10), axis=0).head(2)

,Name,Author,User Rating,Reviews
10,A Man Called Ove: A Novel,Fredrik Backman,4.6,23848
11,A Patriot's History of the United States: From...,Larry Schweikart,4.6,460

## Agregar una nueva columna con valores Nan

In [42]:
df_books['Nueva_Columna'] = np.nan
df_books

,Name,Author,User Rating,Reviews,Nueva_Columna
0,10-Day Green Smoothie Cleanse,JJ Smith,4.7,17350,NaN
1,11/22/63: A Novel,Stephen King,4.6,2052,NaN
2,12 Rules for Life: An Antidote to Chaos,Jordan B. Peterson,4.7,18979,NaN
3,1984 (Signet Classics),George Orwell,4.7,21424,NaN
4,"5,000 Awesome Facts (About Everything!) (Natio...",National Geographic Kids,4.8,7665,NaN
...,...,...,...,...,...
545,Wrecking Ball (Diary of a Wimpy Kid Book 14),Jeff Kinney,4.9,9413,NaN
546,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,NaN
547,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,NaN
548,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,NaN
549,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,NaN

Mostrar el número de filas o columnas que tiene un DataFrame

In [43]:
df_books.shape[0]
# Obtiene el numero de filas

550

Agregar valores a una nueva columna

Crear una nueva columna y agregar los valores almacenados en el array

In [46]:
data = np.arange(0, df_books.shape[0])

In [53]:
df_books['Rango'] = data
df_books

,Name,Author,User Rating,Reviews,Nueva_Columna,Rango
0,10-Day Green Smoothie Cleanse,JJ Smith,4.7,17350,NaN,0
1,11/22/63: A Novel,Stephen King,4.6,2052,NaN,1
2,12 Rules for Life: An Antidote to Chaos,Jordan B. Peterson,4.7,18979,NaN,2
3,1984 (Signet Classics),George Orwell,4.7,21424,NaN,3
4,"5,000 Awesome Facts (About Everything!) (Natio...",National Geographic Kids,4.8,7665,NaN,4
...,...,...,...,...,...,...
545,Wrecking Ball (Diary of a Wimpy Kid Book 14),Jeff Kinney,4.9,9413,NaN,545
546,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,NaN,546
547,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,NaN,547
548,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,NaN,548
549,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,NaN,549

## Añadir filas
Para añadir filas se utiliza la función `append` de Python añadiendo como parámetro una lista, diccionario o añadiendo los valores manualmente.

In [54]:
df_books.append(df_books)

,Name,Author,User Rating,Reviews,Nueva_Columna,Rango
0,10-Day Green Smoothie Cleanse,JJ Smith,4.7,17350,NaN,0
1,11/22/63: A Novel,Stephen King,4.6,2052,NaN,1
2,12 Rules for Life: An Antidote to Chaos,Jordan B. Peterson,4.7,18979,NaN,2
3,1984 (Signet Classics),George Orwell,4.7,21424,NaN,3
4,"5,000 Awesome Facts (About Everything!) (Natio...",National Geographic Kids,4.8,7665,NaN,4
...,...,...,...,...,...,...
545,Wrecking Ball (Diary of a Wimpy Kid Book 14),Jeff Kinney,4.9,9413,NaN,545
546,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,NaN,546
547,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,NaN,547
548,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,NaN,548
549,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,NaN,549

## Recursos
- [pandas.DataFrame.drop](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.drop.html)
- [pandas.DataFrame.append](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.append.html)